<div class="split-bio">
  {{ .Content }}
  <!-- <img src="../../images/icon.png"/>
  <img src="../../images/logo.png"/> -->

  {{ if .Site.Params.visual.image.enable }}
<style>
  {{ if .Site.Params.visual.image.file }}
    .fs-split .split-image { background-image: url("{{ .Site.Params.visual.image.file | absURL }}"); background-position: {{ if .Site.Params.visual.image.position }}{{ .Site.Params.visual.image.position }}{{ else }}center center{{ end }}; }
  {{ end }}
</style>
{{ end }}


</div>
